@import "tailwindcss";

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-orange: #ff4f01;
}

body {
  background-color: black;
  color: white;
}

html,
body,
#root {
  height: 100%;
  margin: unset;
}
